body {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    min-height     : 100vh;
    text-align     : center;
}

h1 {
    font-size    : 4rem;
    margin-bottom: 0;
}


h3 {
    margin-top: 10px;
}

#logo {
    min-width: 250px;
    max-width: 500px;
    width    : 30vw;
}

.logotext-1 {
    color: #41c0f3;
}

.logotext-2 {
    color: #233c91;
}

.loginform {
    margin: 0 20vw;
}

label {
    font-weight: bold;
}

input {
    display      : block;
    min-width    : 200px;
    width        : 30vw;
    height       : 25px;
    margin       : 5px auto 10px;
    border-radius: 5px;
}

.loginBtn {
    width           : 128px;
    height          : 36px;
    margin-top      : 30px;
    letter-spacing  : 0.1rem;
    font-size       : 1rem;
    background-color: #2EB163;
    font-weight     : bold;
    color           : white;
}

#from-error {
   background-color : #ff5050;
   color            : white;
   padding          : 10px;
   margin           : 20px auto;
   width            : 40vw;
}