<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Payment WebUI - login</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>

<header class="header">
    <h1>
        <span class="logotext-1">Prompt</span>
        <span class="logotext-2">Pay</span>
    </h1>
    <h3>Fast, secure, and worldwide payment method</h3>
    <img src="imgs/logo.jpg" alt="logo">
</header>

<div class="loginform">
    <form action="login.html" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Login" class="loginBtn">
    </form>
</div>

</body>

</html>